.content {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.date {
    font-size: 10px;
    color: #7d9f9f;
}

.todolistDate {
    font-size: 10px;
    color: #7d9f9f;
    position: absolute;
    top: -20px;
    right: 0;
}

.todolistTitle {
    margin: 10px 0;
}

.title {
    word-break: break-all;
}